.banner {
    margin-bottom: 80px;

    .banner-background {
        background: url(../img/banner-promo/banner.jpg) no-repeat;
        height: 300px;
        background-size: cover;
        background-position: center;

        .content {
            text-align: end;
            padding: 60px 20px;

            span {
                color: var(--red);
                font-family: 'Satisfy', cursive;
                font-size: 40px;
            }

            h2 {
                font-size: 60px;
            }

            p {
                font-family: 'Poppins', sans-serif; 
                color: var(--gray);
                font-size: 12px;
            }
        }
    }

    .promos-content {
        .promo-box {
            position: relative;
            margin-top: 30px;
            height: 200px;
            overflow: hidden;

            &:hover {
                img {
                    transform: scale(1.2);
                    transition: 0.4s linear;
                }

                span {
                    color: var(--red);
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
                filter: brightness(70%);
            }

            .content {
                position: absolute;
                top: 20px;
                padding: 0 20px;

                &.second {
                    text-align: center;
                    width: 100%;
                }

                &.three {
                    text-align: end;
                    width: 100%;
                }

                span {
                    color: var(--red);
                    font-family: 'Satisfy', cursive;
                    font-size: 25px;
                }

            }

            p {
                position: absolute;
                bottom: 10px;
                font-family: 'Poppins', sans-serif; 
                font-size: 9px;
                padding-left: 20px;

                &.center {
                    padding-left: 0;
                    text-align: center;
                    width: 100%;
                }

                &.right {
                    text-align: end;
                    width: 100%;
                    padding-right: 20px;
                }
            }

        }
    }
}