.popular {
    margin-bottom: 100px;

    .titles {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            padding-top: 30px;
        }
        h2 {
            color: var(--red);
            font-family: 'Satisfy', cursive;
        }
    }

    .popular-content {
        .box {
            background: var(--black-light);
            border-radius: 5px;
            padding: 20px;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &:hover {
                border: 2px solid var(--gray);
                transform: translateY(-10px);
                transition: all 0.3s linear;
            }

            .image {
                text-align: center;
                padding-bottom: 10px;
                img {
                    height: 80px;
                }
            }

            .content {
                text-align: center;

                h4 {
                    font-size: 20px;
                }

                p {
                    font-family: 'Poppins', sans-serif;
                    color: var(--gray);
                    font-size: 12px;
                }

                .price {
                    display: flex;
                    gap: 13px;
                    justify-content: center;

                    span {
                        background: var(--light);
                        padding: 3px 5px;
                        border-radius: 5px;
                        color: var(--black);
                        font-family: 'Poppins', sans-serif;
                        font-weight: bold;
                        font-size: 12px;
                    }
                }

            }
        }
    }
}